@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:500,700,900");

:root {
	--Pale-blue: hsl(225, 100%, 94%);
	--Bright-blue: hsl(245, 75%, 52%);
	--Very-pale-blue: hsl(225, 100%, 98%);
	--Desaturated-blue: hsl(224, 23%, 55%);
	--Dark-blue: hsl(223, 47%, 23%);
}

body {
	background: url("./images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-color: var(--Pale-blue);
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Red Hat Display", sans-serif;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

#order-summary-card {
	height: 697px;
	width: 450px;
	padding: 0;
	margin: 0;
	border-style: hidden;
	border-radius: 20px;
	background-color: hsl(0, 0%, 100%);
	overflow: hidden;
	box-shadow: 0px 30px 28px -13px hsla(245, 75%, 52%, 0.19);
}

#card-body {
	height: 477px;
	width: 354px;
	margin-left: 10.6%;
}

img {
	max-width: 100%;
	object-fit: contain;
}

#card-heading {
	font-size: 28px;
	color: var(--Dark-blue);
	font-weight: 900;
	text-align: center;
	margin-top: 11.5%;
	margin-bottom: 0%;
}

#card-paragraph {
	font-weight: 500;
	font-size: 16px;
	color: var(--Desaturated-blue);
	text-align: center;
	margin-top: 4.5%;
	margin-bottom: 5.5%;
	line-height: 166%;
}

#plan {
	height: 99px;
	width: 354px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	border-style: hidden;
	background-color: hsla(228, 100%, 98%, 0.829);
	border-radius: 13px;
}

#plan-music-icon {
	justify-content: left;
	margin-left: 7%;
	margin-top: 1%;
}

#plan-details {
	margin-left: 5.5%;
}

#plan-name {
	font-weight: 900;
	font-size: 16.5px;
	color: var(--Dark-blue);
}

#plan-price {
	font-weight: 500;
	font-size: 16.5px;
	color: hsl(224, 23%, 55%);
	display: block;
	margin-top: 5px;
}

/* Change Plan Button */
#change-plan {
	margin-left: 24%;
}

#change-btn {
	border: none;
	background: none;
	text-decoration: underline;
	font-size: 14.4px;
	font-weight: 700;
	color: var(--Bright-blue);
}

#change-btn:hover {
	text-decoration: none;
	color: hsla(245, 75%, 52%, 0.753);
}

/* Payment Button */
#payment-btn {
	height: 50px;
	width: 100%;
	margin-top: 8.8%;
	margin-bottom: 9%;
	border-style: hidden;
	background-color: var(--Bright-blue);
	border-radius: 10px;
	color: hsl(240, 100%, 97%);
	font-weight: 900;
	font-size: 15px;
	letter-spacing: 0.2px;
	box-shadow: 0px 20px 20px hsla(245, 75%, 52%, 0.2);
}

#payment-btn:hover {
	background-color: hsla(245, 75%, 52%, 0.753);
	cursor: pointer;
}

/* Cancel Button */
#cancel-order {
	display: flex;
	justify-content: center;
}

#cancel-btn {
	border: none;
	background: none;
	color: var(--Desaturated-blue);
	letter-spacing: 0.3px;
	font-weight: 700;
	font-size: 14.8px;
}

#cancel-btn:hover {
	color: hsla(223, 43%, 27%, 0.925);
	font-weight: 900;
	cursor: pointer;
}

@media all and (max-width: 375px) {
	body {
		background: url("./images/pattern-background-mobile.svg");
		background-repeat: no-repeat;
		background-color: var(--Pale-blue);
		min-height: 100vh;
		width: 100%;
	}

	#order-summary-card {
		height: 567px;
		width: 327px;
	}

	#card-body {
		height: 408px;
		width: 327px;
		margin-left: 0;
	}

	#card-heading {
		font-size: 24px;
		margin-top: 8%;
		margin-bottom: 0%;
	}

	#card-paragraph {
		font-weight: 500;
		font-size: 15px;
		margin-top: 4.5%;
		margin-bottom: 5.5%;
		line-height: 166%;
	}

	#plan {
		height: 81px;
		width: 279px;
		padding: 0;
		margin-left: 24px;
	}

	#plan-music-icon {
		margin-left: 13px;
		margin-top: 3px;
	}

	#plan-details {
		margin-left: 5.5%;
	}

	#plan-name {
		font-size: 14px;
	}

	#plan-price {
		font-size: 14.5px;
		margin-top: 3px;
	}

	/* Change Plan Button */
	#change-plan {
		margin-left: 18%;
	}

	#change-btn {
		font-size: 13.2px;
		font-weight: 700;
	}

	/* Payment Button */
	#payment-btn {
		height: 50px;
		width: 279px;
		margin-top: 8.8%;
		margin-bottom: 9%;
		margin-left: 24px;
	}
}
